.mainFooterWrapper {
    background-color: #1B3C74;
    height: 424px;
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footerContent {
    width: 1143px;
    height: 354px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
 
.footerTop {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
  }

  .medifySocials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    align-items: start;
  }

  .socialMedia img {
    width: 35.2px;
    height: 35.2px;
    margin-right: 10px;
  }
  
  .footerLists {
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footerBottom {
    width: inherit;
    border-top: 1px solid #FFFFFF1A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    height: 59px;
    display: flex;
    align-items: end;
  }

  @media (max-width: 1024px) {

    .footerTop {
      flex-direction: column;
    }

    .medifySocials{
      flex-direction: row;
      width: 340px;
      justify-content: space-between;
      align-items: center;
    }

    .mainFooterWrapper {
      width: 1024px;
  }
  
    
}



  @media (max-width: 768px) {

    .medifySocials{
      flex-direction: row;
      width: 340px;
      justify-content: space-between;
      align-items: center;
    }

    .mainFooterWrapper {
      width: 100%;
  }
  
}


@media (max-width: 480px) {

  .footerTop {
    justify-content: space-evenly;
    margin-left: -30px;
  }

  .medifySocials{
    width: 260px;
    align-items: center !important;
    height: fit-content;
  }

.mainFooterWrapper {
    height: 404px;
}

.footerContent {
    width: 100%;
    height: 354px;

}
 
.footerTop {
    height: 90%;
  }

  .socialMedia {
    position: relative;
    top: -22px;
  }

  .socialMedia img {
    width: 15.2px;
    height: 15.2px;
    margin-right: 10px;
  }
  
  .footerLists {
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footerBottom {
    font-size: 12px;
    height: 39px;

  }
}