.hospitalCount {
    width: 643px;
    height: 64px;
}

.hospitalCount h3 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #000000;
}

.hospitalCountText {
    display: flex;
    width: fit-content;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 110%;
}

.hospitalCountText p {
    color: #787887;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;
}

.hospitalCountText img {
    height: 22px;
    width: 23.81px;
}



@media (max-width: 480px) {
    .hospitalCount {
        width: 100%;
        height: 44px;
        margin-left: 190px;
    }
    
    .hospitalCount h3 {
        font-size: 14px;
        font-weight: 500;
    }
    

    .hospitalCountText p {
        color: #787887;
        font-family: Poppins;
        font-size: 9px; 
        font-weight: 400;
        line-height: 9px;
    }
    
    .hospitalCountText img {
        height: 12px;
        width: 13.81px;
    }
}