.button {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    background-color: #2AA8FF;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
}

.iconAndText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.iconAndText img {
    color: #FFFFFF;
    filter: brightness(0) invert(1);
}

@media (max-width: 768px) {
    .button {
        width: 110px;
        height: 30px;
        font-size: 12px;
    }

}



@media (max-width: 480px) {
    .button {
        width: 85px;
        height: 20px;
        font-size: 11px;
    }

}