.button {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    background-color: #2AA8FF;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
}

.iconAndText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.iconAndText img {
    color: #FFFFFF;
    filter: brightness(0) invert(1);
}