.navbar {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navbarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: Fixed (912px)px;
    height: Hug (40px)px;
    gap: 40px;
}

.navbarLink {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbarContent  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: Hug (694px)px;
    height: Hug (21px)px;
    gap: 40px;
}

.navbarContent ul li {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #102851;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

@media (max-width: 1024px) {
    .navbarContent ul li {
        font-size: 12.6px;
    }
}

.active {
    color: #2AA7FF;
    border-bottom: 4px solid #2AA7FF;
}

.searchBtn {
    position: relative;
    z-index: 20;
}



