.dropdownWrapper {
    height: 100px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: linear-gradient(91.75deg, #2AA7FF 1.4%, #0C8CE6 100.57%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}  

.dropDown {
    box-shadow: 6px 6px 35px 0px #1028511C;
    background-color: #FFFFFF;
    width: 1166px;
    height: 111px;
    border-radius: 15px;
    padding: 27px 24px 27px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
}

.dropDown button {
    width: 231px;
    height: 50px;
}


@media (max-width: 1024px) {
   
    .dropDown {
        width: 883px;
    }

    
}

@media (max-width: 768px) {
   
    .dropDown {
        width: 100%;
    }


    
.dropDown button {
    width: 131px;
    height: 40px;
}
    
}

@media (max-width: 480px) {

    .dropdownWrapper {
        height: 90px;
    }  
    
    .dropDown {
        width: 334px;
        height: 185px;
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .dropDown button {
        width: 141px;
        height: 30px;
    }
    
}