.parentCaringWrapper {
    height: 598px;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parentCaringContent {
    width: 1153px;
    height: 486px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.parentCaringContent img {
    width: 332px;
    height: 275px;
}

.parentCaringLeft {
    height: 486px;
    width: 519px;
    position: relative;
}

.parentCaringRight {
    height: 375px;
    width: 563px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    text-align: left;
}

.parentLeftTop {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.consultationCard {
    position:absolute;
    left: 0px;
}

.parentLeftBottom {
    position: absolute;
    bottom: 0px;
    right: 108px;
}



.parentCaringRight {
    width: 563px;
    height: 375px;
}


@media (max-width: 1024px) {
    .parentCaringRight {
        width:  455px;
    }
}



.parentCaringTitle {
    color: #2AA7FF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}

.parentCaringHeading {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    color: #1B3C74;
}

.parentCaringHeading span {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    color: #2AA7FF;
}

.parentCaringPara {
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 29px;
    color: #77829D;
}


.parentCaringGuide {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    gap: 10px;
}