.searchContainer{
    display: flex;
    justify-content: start;
    padding: 0px 10px;
    align-items: center;
    background-color: #FAFBFE;
    border: 1px solid #F0F0F0;
    height: 50px;
    width: 285px;
    gap: 10px;

}

.searchIcon {
    height: 19.2px;
    width: 19.2px;
    color: #9CA3AF;
}

.searchInput {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #ABB6C7;
    outline: none;
    border: none;
}

/* .stateDropdown {
    box-shadow: 6px 6px 35px 0px #1028511C;
    background-color: #FFFFFF;
    width: 1166px;
    height: 111px;
    border-radius: 15px;
    padding: 27px 24px 27px 24px;
} */