.heroWrapper {
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    height: 832px;
    width: 100%;
    margin-top: -97px;
    margin-bottom: 150px;
}

.heroContent {
    padding-top: 40px;
    width: 80%;
    margin: 0px auto;
}

.topHeroSection {
    display: flex;
    justify-content: space-between;
}

.heroImage img{
    height: 735.94px;
    width: 643px;
}


.bottomHeroSection {
    width: 1276px;
    height: 429px;
    border-radius: 15px;
    box-shadow: 6px 6px 35px 0px #1028511C;
    border: 1px solid #F0F0F0;
    background-color: #FFFFFF;
    padding: 50px 20px;
    margin-top: -18rem;
    position: relative;
    z-index: 10;
}

@media (max-width: 1024px) {
    
    .heroImage img{
        height: 535.94px;
        width: 443px;
    }

    .bottomHeroSection {
        width: 870px;
      
        margin-top: -9rem;
        position: relative;
        z-index: 10;
    }
    
    .heroWrapper {
        height: 712px;
        margin-bottom: 250px;
    }
    

}

.searchLocation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.healthCenters p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.02em;
}


.healthCenters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 100px;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    
    .services {
        width: 850px;
    }
    
 
}



@media (max-width: 768px) {
    
    .heroImage img{
        height: 335.94px;
        width: 243px;
    }

    .bottomHeroSection {
        width: 665px;
        margin-top: -9rem;
        position: relative;
        z-index: 10;
        margin-left: -1.8rem;
    }
    
    .heroWrapper {
        height: 452px;
        margin-bottom: 300px;
    }
    
    .services {
        width: 100%;
    }

}


@media (max-width: 480px) {
    
    .heroImage img{
        height: 265.94px;
        width: 143px;
    }

    .bottomHeroSection {
        width: 400px;
        margin-top: -9rem;
        position: relative;
        z-index: 10;
        margin-left: -1.8rem;
        height: 350px;
    }

    .searchLocation {
        flex-direction: column;
        gap: 20px;
    }
    
    .searchLocation button{
        font-size: 9px;
    }

    .healthCenters {
        margin-top: 10px;
    }


    .healthCenters p {
        font-size: 11px;
    }

    .heroWrapper {
        height: 452px;
        margin-bottom: 300px;
    }
    
    .services {
        width: 100%;
    }

    .heroWrapper {
        margin-bottom: 150px;
    }
}
